<h2>Record Labels</h2>
<table id="labels-table">
    <thead>
        <th>ID</th>
        <th>Label Name</th>
        <th>Location</th>
        <th>Delete</th>
    </thead>
    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.labelID}}>
            <td>{{this.labelID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.location}}</td>
            <td><button onclick="deleteLabel({{this.labelID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_label.js"></script>
<br>
<div class="form">
    <h3>Add Record Label</h3>
    <form id="add-label-form" method="POST" action="/add-label-form">
        <table class="form">
            <tr>
                <td><label for="input-name">Name:</label></td>
                <td><input type="text" name="input-name" id="input-name"></td>
            </tr>
            <tr>
                <td><label for="input-location">Location:</label></td>
                <td><input type="text" name="input-location" id="input-location"></td>
            </tr>
        </table>
        <br>
        <input type="submit">
    </form>
</div>